<div class="modal-dialog" ng-controller="TemplateEditModalController" style="width: 1024px;">
    <div class="modal-content" style="height: 650px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title"><strong>New template</strong></h3>
        </div>
        <div class="modal-body" style="height: 600px;max-height: 600px">
            <form name="checkSubscription" class="form-horizontal" role="form">
                <div style="overflow-y: scroll; height:200px;">
                    <table class="table table-bordered table-striped table-hover" ng-show="templates.values.length > 0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="temp in templates.values" ng-click="selectTemplate(temp.id)"
                            style="cursor: pointer;">
                            <td title="{{ temp.name }}">{{ temp.name }}</td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-xs"
                                        ng-click="deleteTemplate(temp.id)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <fieldset>
                    <div ng-class="{ 'form-group': true, 'has-error': checkSubscription['template.name'].$invalid }" style="margin: 0px">
                        <label class="control-label" for="template.name">Name</label>
                        <div>
                            <input id="template.name" class="form-control" name="template.name"
                                   ng-model="template.name" type="text" required/>
                                   <!--ng-change="onNameChanged()"-->

                        </div>
                    </div>
                    <div ng-class="{ 'form-group': true, 'has-error': checkSubscription['template.content'].$invalid }" style="margin: 0px">
                        <label class="control-label" for="template.content">Content</label>
                        <div>
                            <textarea id="template.content" class="form-control" name="template.content"
                                      ng-model="template.content" type="text" rows="10" cols="45" required></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn pull-left" data-dismiss="modal" id="cancelSubscriptionButton"
                            ng-click="reset()"><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" id="createTemplateButton"
                            ng-hide="isAlreadyExists"
                            ng-click="create()"><i
                            class="glyphicon glyphicon-ok glyphicon-white"></i>&nbsp;&nbsp;Add
                    </button>
                    <button type="submit" class="btn btn-primary" id="updateTemplateButton"
                            ng-show="isAlreadyExists"
                            ng-click="update()"><i
                            class="glyphicon glyphicon-ok glyphicon-white"></i>&nbsp;&nbsp;Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
